06.XML/exam.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:examp-org:exam" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:examp-org:exam" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="exam">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="date" type="xs:date" />
        <xs:element name="grade" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>